.container-preview {
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;

    & + li {
      margin-top: 15px;
    }

    .file-info {
      display: flex;
      align-items: center;

      .preview {
        width: 36px;
        height: 36px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin-right: 10px;
      }

      .preview-body {
        display: flex;
        flex-direction: column;

        .file-size {
          font-size: 12px;
          color: #999;
          margin-top: 5px;

          .delete-button {
            border: 0;
            background: transparent;
            color: #e57878;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
